<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Short description:</b>
  <%= @news.short_description %>
</p>

<p>
  <b>Description:</b>
  <%= @news.description %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
