<p id="notice"><%= notice %></p>
<h2><%= @news.title %></h2>
<div id="news_content">
  <%= image_tag(@news.avatar.url) %>
<p>
  <%= @news.description %>
</p>
</div>
<% if admin_signed_in?  %>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
<% end %>
