<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Имя", :class => "order_new" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address, "Адрес", :class => "order_new" %>
    <%= f.text_area :address, :rows => 3, :cols => 84 %>
  </div>
  <div class="field">
    <%= f.label :email, :class => "order_new"%>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone, "Телефон", :class => "order_new" %>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit 'Купить', :style => "width: 80px" %>
  </div>
<% end %>
