<p id="notice"><%= notice %></p>
<p>
  <h3><b>Покупатель:</b></h3>
</p>
<p>
  <b>Имя:</b>
  <%= @order.name %>
</p>

<p>
  <b>Адрес:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Телефон:</b>
  <%= @order.phone %>
</p>
<table> 
<%= render @products_order %>
</table> 
<h3> 
  Общая стоимость <%= @order.total_price %> руб.
</h3>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
