<p id="notice"><%= notice %></p>
<p>
  <h3><b>Покупатель:</b></h3>
</p>
<p>
  <b>Имя:</b>
  <%= @order.name %>
</p>

<p>
  <b>Адрес:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Телефон:</b>
  <%= @order.phone %>
</p>
<div id="products">
<%= render @products_order %>
</div>
<h3> 
  Общая стоимость <%= @order.total_price %> руб.
</h3>

<%= link_to 'Назад', orders_path %>
