
<div id="show_products">

  <%= image_tag(@product.avatar.url, :alt => @product.title, :class => "round") %>
  <div style="float: right; position: relative; right: 60px; top: 50px; width: 310px;">
    <h2><%= @product.title %></h2>
    <p>Стоимость <%= @product.price %></p>
    <p>Размеры:</p>
    <ul>
      <li>42</li>
      <li>44</li>
      <li>46</li>
      <li>48</li>
      <li>50</li>
    </ul>
  </div>
</div>
<%= button_to 'Добавить в корзину' , line_items_path(:product_id => @product), :remote =>true  %>
<% if user_signed_in? %>
<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
  
<% end %>
