<% if line_item == @current_item %>

<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td style="width: 100px;"><%= image_tag(line_item.product.image_url, :class => "round")%> </td>
  <td><h3><%= line_item.product.title %></h3>
  <div id="descrip" class="round">

    <%= sanitize(line_item.product.description) %>
    </div></td>
</tr>
<tr><td class="price_line_item" colspan="2">
     <table style="height: 10px;"> <tr>
        <td style="width: 15px;">

        <%= button_to "-", line_item_path(  :quantity => (line_item.quantity - 1), :id => line_item), :remote =>true, :method => :put  %>

        </td>
        <td id="quantity_item" style="width: 15px; text-align: center;">
    <%= line_item.quantity %>
        </td>
        <td style="width: 15px;">

        <%= button_to "+", line_item_path( :quantity => (line_item.quantity + 1), :id => line_item), :remote =>true, :method => :put %>

        </td>
        <td style="font-size: 22px;">
     &times; <%= line_item.product.price %> руб.</td></tr>
    </table></td>
</tr>

