<% i=1 %>
<div class="group_gallery" style=" height: 520px;">
  <div style="vertical-align: bottom;position:relative; height: 412px; ">
    <%= image_tag(line_item.product.avatar.url(:thumb), :class => "round")%>
  </div>
  <div style=" height: 35px; width: 160px">
    <h2><%= line_item.product.title %></h2>
    <h3>Размер <%= line_item.size %></h3>
    <table style="height: 10px;"> <tr>
        <td style="width: 15px;">
          <%= button_to "-", line_item_path(  :quantity => (line_item.quantity - 1), :id => line_item), :remote =>true, :method => :put  %>
        </td>
        <td id="quantity_item" style="width: 15px; text-align: center;">
          <%= line_item.quantity %>
        </td>
        <td style="width: 15px;">
          <%= button_to "+", line_item_path( :quantity => (line_item.quantity + 1), :id => line_item), :remote =>true, :method => :put %>
        </td>
        <td style="font-size: 12pt; font-family: 'Myriad Pro', Verdana, Geneva, sans-serif;">
          &times; <%= line_item.product.price %> руб.</td></tr>
    </table>
  </div>
  <% if i> 3 %>
    <div style="clear: left; padding-bottom: 35px;"></div>
    <% i=0 %>
  <% end %>
  <% i+= 1 %>
</div>
