<div id="header">
  <div id="header_top">
    <img style=" position: relative; top: 15px; left: 20px;" <%= image_tag("img/phone_pic.png", :alt => "Phone") %>
    <span style=" position: relative; top: 13px; left: 25px; font: 18px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #fff;">8 925-736-34-36</span>

    <% if user_signed_in? %>
    <span style=" position: relative; top: 10px; left: 715px; ">
      <%= link_to "Мой профиль", edit_user_registration_path, :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;"  %>
      </span>
      <span style=" position: relative; top: 10px; left: 720px; ">
      <%= link_to "Выйти", destroy_session_user_path, :method => :delete, :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;"  %>
      </span>
    <% else %>
    <% if admin_signed_in?  %>
    <script type="text/javascript">
      $(document).ready(function(init){
      $('#forget_pass').hide();
      $('#user_new').hide();
      });
    </script>
    <ul id="top_menu">
      <li><%= link_to 'Продукты', products_path%></li>
      <li><%= link_to 'Новости', news_index_path%></li>
      <li><%= link_to 'Категории', categories_path%></li>
      <li><%= link_to 'Покупатели', orders_path%></li>
      <li><%= link_to 'Пользователи', orders_path%></li>
      <li><%= link_to "Мой профиль", edit_admin_registration_path%></li>
      <li><%= link_to "Выйти", destroy_admin_session_path, :method => :delete%></li>
    </ul>
    <% end %>
    <% end %>
  </div>
    <%= image_tag("img/logog_header.png", :alt => "Logo", :style => " position: relative; top: 20px; left: 20px;")  %>
    <div id="search_div">
    <p style=" margin-left: 3px; font: 16px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #8e3085;"><b>Я ищу.</b></p>
    <% form_tag products_path, :method => :get, :remote => true do %>
       <%= text_field_tag :search, params[:search] %>
       <%= submit_tag "", :name => nil, :id => "search_btn_header"  %>
    <% end %>
    </div>
    <div id="cart" style=" position: absolute; float: right; top: 70px; right: 45px;">
    <%= image_tag("img/cart.png", :alt => "Cart") %>
    <p style=" position: relative; top: 10px; left: 5px; "><%= link_to "Корзина (#{@cart.total_items})", @cart, :id => 'cart_total_items', :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #660066; text-decoration:underline;" %></p>
    </div>
</div>


